
html.ie6 .ct1-menu1{
	width:60px;
	height:360px;
}


html.ie6 .top-header{
	background-color:#0E419C;
}


html.ie6 #bar1 #menu li dl dt a{
	padding-top:24px;
}

html.ie6 .fdnews .newslist{
	height:390px;
}

html.ie7 .fdnews .newslist{
	height:433px;
}
html.ie6 #fd-news1 .newslist, html.ie7#fd-news1 .newslist, html.ie6 #fd-news4 .newslist, html.ie7#fd-news4 .newslist {
	height:239px;
}
.fdnews .newslist li  a{
	height:30px;
}

.fdnews .more{
	height:32px;
}
	