
html.ie6 .ct1-menu1{
	width:60px;
	height:360px;
}


html.ie6 .top-header{
	background-color:#0E419C;
}


html.ie6 #bar1 #menu li dl dt a{
	padding-top:24px;
}

html.ie6 .smallslidercontent{
	margin:2px 0;
	vertical-align:middle;	
}

html.ie6 .slide .slide_title_content{
	bottom:60px;
}


	